<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/DOnlineConsult.css" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="sidebar">
      <header><%= fullname %></header>
      <ul>
          <li><a href="/DHome"><i class="fas fa-qrcode"></i>Home</a></li>
          <li><a href="/DAppointment"><i class="fas fa-qrcode"></i>Appointment</a></li>
          <li><a href="/DHistory"><i class="fas fa-calendar-week"></i>History</a></li>
          <li><a href="/DoctorInfo"><i class="fas fa-question-circle"></i>Doctor Information</a></li>
          <div class="space"></div>
          <li><a href="/"><i class="fas fa-envelope"></i>Logout</a></li>
      </ul>
  </div>

    <main class="table">
        <section class="table_header">
          <h1>Online Appointment Schedule</h1>
        </section>
        <section class="table_body">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Description</th>
                <th>Date</th>
                <th>Paid</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% onlineConsultList.forEach(onlineConsult => { %>
              <tr>
                <td><%= onlineConsult._id %></td>
                <td><%= onlineConsult.name %></td>
                <td><%= onlineConsult.age %></td>
                <td><%= onlineConsult.gender %></td>
                <td><%= onlineConsult.description %></td>
                <td><%= onlineConsult.formattedDate %></td>
                <td><%= onlineConsult.paid %></td>
                <td><%= onlineConsult.status %></td>
                <td>
                  <button class="join-room" <%= onlineConsult.enabled ? '' : 'enabled' %>>Join</button>
                  <button class="approve-button">Approve</button>
                  <button class="cancel-button">Cancel</button>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </section>
    </main>

        <script>
          const approveButtons = document.querySelectorAll('.approve-button');
          const cancelButtons = document.querySelectorAll('.cancel-button')
          const joinButtons = document.querySelectorAll('.join-room')

          // Add a click event listener to each "Send" button
          cancelButtons.forEach((button) => {
            const appointmentId = button.closest('tr').querySelector('td:first-child').textContent;
            button.addEventListener('click', async () => {
              swal({
                  title: "Are you sure you want to cancel this appointment?",
                  icon: "warning",
                  buttons: true,
                  dangerMode: true,
              })
              .then(async function (isOkay) {
                  if (isOkay) {
                    const appointmentId = button.closest('tr').querySelector('td:first-child').textContent;
                    try {
                    const response = await fetch('/docCancel-appointment', {
                      method: 'POST',
                      headers: {
                        'Content-Type': 'application/json',
                      },
                      body: JSON.stringify({ appointmentId }),
                    });

                    if (response.ok) {
                      // Refresh the page after successful cancellation
                      location.reload();
                    } else {
                      console.error('Appointment approving failed:', response);
                    }
                  } catch (error) {
                    console.log(error);
                  }
                  }
              });
              return false;
            });
          });

          approveButtons.forEach((button) => {
            button.addEventListener('click', async () => {
              swal({
                  title: "Are you sure you want to approved this appointment?",
                  icon: "warning",
                  buttons: true,
                  dangerMode: true,
              })
              .then(async function (isOkay) {
                const appointmentId = button.closest('tr').querySelector('td:first-child').textContent;
                if (isOkay) {
                  try {
                const response = await fetch('/approve-appointment', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: JSON.stringify({ appointmentId }),
                });

                if (response.ok) {
                  location.reload();
                } else {
                  console.error('Appointment approving failed:', response);
                }
              } catch (error) {
                console.log(error);
              }
              }
              })
              return false;
            });
          });

          joinButtons.forEach((button) => {
            button.addEventListener('click', async () => {
              const appointmentId = button.closest('tr').querySelector('td:first-child').textContent;
              try {
                const response = await fetch('/patientEmail', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: JSON.stringify({ appointmentId }),
                });
                if (response.ok) {
                  document.location= './Droom' 
                } else {
                  console.error('Appointment approving failed:', response);
                }
              } catch (error) {
                console.log(error)
              }

            })
          });
          

        </script>
  </body>
</html>
