<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/DOnlineConsult.css" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="logo">
          <img src="/logo.png" alt="Logo.png">
          <h2>EzDok</h2>
      </div>
      
      <ul>
          <li class="active-li"><a href="/DHome" class="active-a">Home</a></li>
          <li><a href="/DoctorInfo"><%= fullname %></a></li>
          <li><a href="/">Logout</a></li>
      </ul>
  </header>

    <div class="container">

      <main class="table">
        <section class="table_header">
          <h1>Online Appointment Schedule</h1>
        </section>
        <section class="table_body">
          <table>
            <thead>
              <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Description</th>
                <th>Date</th>
                <th>Paid</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% let consultNumber = 1 %>
              <% onlineConsultList.forEach(onlineConsult => { %>
              <tr>
                <td class="hidden"><%= onlineConsult._id %></td>
                <td><%= consultNumber %></td>
                <td><%= onlineConsult.name %></td>
                <td><%= onlineConsult.age %></td>
                <td><%= onlineConsult.gender %></td>
                <td><%= onlineConsult.description %></td>
                <td><%= onlineConsult.formattedDate %></td>
                <td><%= onlineConsult.paid %></td>
                <td><%= onlineConsult.status %></td>
                <td>
                  <button class="join-room" <%= onlineConsult.enabled ? '' : 'disabled' %>>Join</button>
                  <button class="approve-button">Approve</button>
                  <button class="cancel-button">Cancel</button>
                </td>
              </tr>
              <% consultNumber++ %>
              <% }) %>
            </tbody>
          </table>
        </section>
    </main>

    </div>


        <script>
          const approveButtons = document.querySelectorAll('.approve-button');
          const cancelButtons = document.querySelectorAll('.cancel-button')
          const joinButtons = document.querySelectorAll('.join-room')

          // Add a click event listener to each "Send" button
          cancelButtons.forEach((button) => {
            const appointmentId = button.closest('tr').querySelector('td:first-child').textContent;
            button.addEventListener('click', async () => {
              swal({
                  title: "Are you sure you want to cancel this appointment?",
                  icon: "warning",
                  buttons: true,
                  dangerMode: true,
              })
              .then(async function (isOkay) {
                  if (isOkay) {
                    const appointmentId = button.closest('tr').querySelector('td:first-child').textContent;
                    try {
                    const response = await fetch('/docCancel-appointment', {
                      method: 'POST',
                      headers: {
                        'Content-Type': 'application/json',
                      },
                      body: JSON.stringify({ appointmentId }),
                    });

                    if (response.ok) {
                      // Refresh the page after successful cancellation
                      location.reload();
                    } else {
                      console.error('Appointment approving failed:', response);
                    }
                  } catch (error) {
                    console.log(error);
                  }
                  }
              });
              return false;
            });
          });

          approveButtons.forEach((button) => {
            const parentRow = button.closest('tr');
            const approveStatus = parentRow.querySelector('td:nth-child(9)').textContent;

            if (approveStatus === 'Approved') {
            // If the status is "Paid," disable the payment button
             button.disabled = true;
            }
            button.addEventListener('click', async () => {
              swal({
                  title: "Are you sure you want to approved this appointment?",
                  icon: "warning",
                  buttons: true,
                  dangerMode: true,
              })
              .then(async function (isOkay) {
                const appointmentId = button.closest('tr').querySelector('td:first-child').textContent;
                if (isOkay) {
                  try {
                const response = await fetch('/approve-appointment', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: JSON.stringify({ appointmentId }),
                });

                if (response.ok) {
                  location.reload();
                } else {
                  console.error('Appointment approving failed:', response);
                }
              } catch (error) {
                console.log(error);
              }
              }
              })
              return false;
            });
          });

          joinButtons.forEach((button) => {
            button.addEventListener('click', async () => {
              const appointmentId = button.closest('tr').querySelector('td:first-child').textContent;
              try {
                const response = await fetch('/patientEmail', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: JSON.stringify({ appointmentId }),
                });
                if (response.ok) {
                  document.location= './Droom' 
                } else {
                  console.error('Appointment approving failed:', response);
                }
              } catch (error) {
                console.log(error)
              }

            })
          });
          

        </script>
  </body>
</html>
