<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/myappointment.css" />
</head>
<body>
  <header>
    <div class="logo">
        <img src="./logo.png" alt="Logo.png">
        <h2>EzDok</h2>
    </div>
    
    <ul>
        <li><a href="/PHome">Home</a></li>
        <li><a href="/MyAccount"><%= patientName %></a></li>
        <li><a href="/">Logout</a></li>
    </ul>
</header>
  
      <div class="container">

        <main class="table">
          <section class="table_header">
            <h1>Appointment</h1>
          </section>
          <section class="table_body">
            <table>
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Name</th>
                  <th>Age</th>
                  <th>Gender</th>
                  <th>Description</th>
                  <th>Services</th>
                  <th>Date</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <% let appointmentHistoryNumber = 1 %>
                <% historyList.forEach(history => { %>
                <tr>
                  <td class="hidden"><%= history._id %></td>
                  <td><%= appointmentHistoryNumber %></td>
                  <td><%= history.name %></td>
                  <td><%= history.age %></td>
                  <td><%= history.gender %></td>
                  <td><%= history.description %></td>
                  <td><%= history.services %></td>
                  <td><%= history.formattedDate %></td>
                  <td><%= history.status %></td>
                </tr>
                <% appointmentHistoryNumber++ %>
                <% }) %>
              </tbody>
            </table>
          </section>
        </main>

      </div>



      <div class="container">
        
        <main class="table">
          <section class="table_header">
            <h1>Online Consultation Appointment</h1>
          </section>
          <section class="table_body">
            <table>
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Name</th>
                  <th>Age</th>
                  <th>Gender</th>
                  <th>Description</th>
                  <th>Date</th>
                  <th>Paid</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <% let consultHistoryNumber = 1 %>
                <% consultHistoryList.forEach(consultHistory => { %>
                <tr>
                  <td class="hidden"><%= consultHistory._id %></td>
                  <td><%= consultHistoryNumber %></td>
                  <td><%= consultHistory.name %></td>
                  <td><%= consultHistory.age %></td>
                  <td><%= consultHistory.gender %></td>
                  <td><%= consultHistory.description %></td>
                  <td><%= consultHistory.formattedDate %></td>
                  <td><%= consultHistory.paid %></td>
                  <td><%= consultHistory.status %></td>
                </tr>
                <% consultHistoryNumber++ %>
                <% }) %>
              </tbody>
            </table>
          </section>
        </main>

      </div>

  <script>
  </script>
</body>
</html>